<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
   </configSections>
  <connectionStrings>
    <add name="BoomrangInc.Properties.Settings.boomrangConnectionString" connectionString="Data Source=.;Initial Catalog=boomrang;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="MyDbConnection" value="Data Source=.;Initial Catalog=boomrang;Persist Security Info=True;User ID=sa;Password=123" />
  </appSettings>
  
</configuration>